#r{
    height: 300px;
    width: 250px;
    margin-right: 50%;
    margin-left: 5%;
}
#k{
    height: 300px;
    width: 250px;
    padding-left: 45%;
    margin-top: 20%;
}
#l{
    height: 300px;
    width: 250px;
    margin-left: 7%;
}
body{
    background-image: url("krithi1.jpg");
    background-size : cover;
    background-repeat: no-repeat;
}
*{
    margin: 0px;
}
h1{
    color: yellow;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    background: black;
}

#king{
    
}